
html,body {
    padding:0;
    margin:0;
    background-color:darkblue;
}        
header {
    padding: 5px;
    text-align:center;
    color:white;
    margin-top: 50px;
}
h2 {
    margin-top:50px;
}
div {
     display:block;
     width: 30%;
     height: 350px;
     padding: 50px;
     background-color:white;
     margin: auto;
     border-radius: 3px;
     box-sizing: border-box;
     margin-top: 50px;
 }
.login {
    border-color: blue;
    border-radius: 5px;
    padding: 10px;
    width : 92%;
    margin-top: 30px;
    display: block;
    margin-bottom: 50px;
}
.login:hover {
    background-color: rgb(194, 194, 194);
}
.button { 
    background-color: rgb(63, 63, 170);
    color: white;
    width: 98%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    display: block;
    margin-bottom: 20px;
 }
 .button:hover {
     background-color: rgb(110, 112, 224);
 }
.btn-link-google {
    display: inline-block;
    text-decoration: none;
    width: 80%;
    color: #564747;
    font-weight: bold;
    box-shadow: 3px 3px 3px #1f0202;
    padding: 10px 20px;
    text-align:center;
}
.btn-link-google:hover {
    background-color: rgb(173, 165, 165);
}
.ft {
    padding: 50px; 
    text-align: center;
    color: white;
}
